<!doctype html>
<title>Rentr</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3-theme-black.css') }}">
<meta name="viewport" content="width=device-width, initial-scaled=1">
<div class="w3-container w3-theme-l5">
  <h1 class="w3-theme-l5">Rentr</h1>
  {% block body %}{% endblock %}
</div>
