{% extends "show_entries.html" %}

{% block title %}
<a class="w3-bar-item w3-button w3-theme-l4" href= "{{ url_for('show_unread') }}"> 未读 </a>
<a class="w3-bar-item w3-button" href= "{{ url_for('show_read') }}"> 已读 </a>
<a class="w3-bar-item w3-button" href= "{{ url_for('show_collection') }}"> 收藏 </a>
<a class="w3-bar-item w3-button" href= "{{ url_for('show_agent') }}"> 中介帖 </a>
{% endblock %}

{% block form%}
    <input class="w3-button w3-theme" type="submit" name="submit" value="+已读">
    <input class="w3-button w3-theme" type="submit" name="submit" value="+收藏">
    <input class="w3-button w3-theme" type="submit" name="submit" value="+中介">
{% endblock %}

