{% extends "layout.html" %}
{% block body %}
<div class="w3-bar w3-theme">
{% block title %}
{% endblock %}<br>
</div>
<form class="w3-container w3-theme-l4 w3-padding-8" action=" {{ url_for('submit_filter') }} " method='post'> 
    <div class="w3-row w3-padding-4">
        <div class="w3-col s6">
            <label class="w3-label w3-text-theme">关键字</label>
            <textarea name="in_words" class="w3-input w3-border w3-theme-l5">{{ filter_info.in_words }}</textarea>
        </div>
        <div class="w3-col s6">
            <label class="w3-label w3-text-theme">屏蔽关键字</label>
            <textarea name="out_words" class="w3-input w3-theme-l5 w3-border">{{ filter_info.out_words }}</textarea>
        </div>
    </div>
    <div class="w3-padding-4">
        <div class="w3-col s4">
            <label class="w3-label w3-text-theme">显示天数</label>
            <input class="w3-input w3-border w3-theme-l5" type="text" value="{{ filter_info.display_days }}" name="days">
        </div>
        <div class="w3-col s4">
            <label class="w3-label w3-text-theme">显示帖数</label>
            <input class="w3-input w3-border w3-theme-l5" type="text" value="{{ filter_info.nitems }}" name="nitems">
        </div>
        <div class="w3-col s4">
            <label class="w3-label w3-text-theme">城市: {{ filter_info.city }} </label>
            <select class="w3-select w3-border w3-theme-l5" name="city">
                <option value="default">默认</option>
                <option value="all">所有</option>
                <option value="beijing">北京</option>
                <option value="shenzhen">深圳</option>
            </select>
        </div>
    </div>
    <div class="w3-padding-4">
        <input class="w3-button w3-theme" type="submit" value="提交">
    </div>
</form>


<script language="JavaScript">
function toggle(source) {
    checkboxes = document.getElementsByName('select');
    for (var i = 0, n = checkboxes.length; i < n; i++)
        checkboxes[i].checked = source.checked;
}
</script>

 <div class="w3-padding-8">
<form action="{{ url_for('set_type') }}" method='post'>
    <div class="w3-padding-4">
  {% block form %}
  {% endblock %}
    </div>
  <table class="w3-table w3-bordered w3-theme-l4 w3-text-theme ">
      <tr class="w3-theme"> 
          <td> <input type="checkbox" onClick="toggle(this)" />   </td> 
          <td> 标题 </td> 
          <td> 发表时间 </td> 
          <td> 重复 </td> 
      </tr>
  {% for entry in entries %}
  <tr class="">
      <td >
          <input type=checkbox name="select" value="{{ entry.id }}" >
      </td>
      <td class="title">
          <a href={{ entry.link }} target="_blank"> {{ entry.title }}  </a>  
      </td>
      <td >
           {{ entry.time}}
      </td>
      <td >
           {{ entry.fold_num}}
      </td>
  </tr>
  {% endfor %}
  </table>
</form>
  </div>
{% endblock %}
